# .ebextensions/01-ebs.config
commands:
  01format-volume:
    command: mkfs -t ext4 /dev/sdh
    test: file -sL /dev/sdh | grep -v 'ext4 filesystem'
  02attach-volume:
    command: |
      mkdir /media/ebs_volume
      mount /dev/sdh /media/ebs_volume
    test: sh -c "! grep -qs '/media/ebs_volume' /proc/mounts"
option_settings:
   - namespace: aws:autoscaling:launchconfiguration
     option_name: BlockDeviceMappings
     value: /dev/sdh=:10
